# =============================================
# POKENEAS - Variables de Entorno
# =============================================
# Copia este archivo como .env y ajusta los valores

# Puerto en el que correrá la aplicación
PORT=3000

# Entorno de ejecución: development | production
NODE_ENV=development

# URL base del Bucket de Google Cloud Storage
# Formato: https://storage.googleapis.com/NOMBRE_DEL_BUCKET
GCS_BUCKET_URL=https://storage.googleapis.com/pokeneas-bucket
